<!DOCTYPE html>
{% extends 'homebase.html' %}
{% load static %}

{% block content %}
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Prescription</h2>
          <ol>
            <li><a href="{% url 'drDashboard' %}">Home</a></li>
            <li><a href="{% url 'drDashboard' %}">Innerpage</a></li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->
{% csrf_token %}
    
    <div class="table-responsive">
        {% for d in patient %}
            <table class="table table-hover">
                <thead class="">
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Name:</td>
                        <td class="text-left">{{ d.firstname }} {{d.careof}} {{ d.lastname }}</td>    
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">AdharNumber:</td>
                        <td id="adhar" class="text-left">{{ d.adharNumber }}</td>    
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">sex:</td>
                        <td class="text-left">{{ d.gender }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Age:</td>
                        <td class="text-left">{{ d.age }}</td>    
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Weight:</td>
                        <td class="text-left">{{ d.weight }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Moblie Number:</td>
                        <td class="text-left">{{ d.mobileNumber }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Place:</td>
                        <td class="text-left">{{ d.place }}</td>
                    </tr>
                    
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Symptoms:</td>
                        <td class="text-left">
                            <input id="a" name="a" list="selectmedic" placeholder="Search Symptoms" />
                            <datalist id="selectmedic" style="width:1000px;">
                                <!--<option selected disabled = "true">&#45;&#45;select&#45;&#45;</option>-->
                                {% for symptom in symptomsList %}
                                    <option>{{ symptom.symptom_name }}</option>
                                {% endfor %}
                            </datalist>
                            <button type="submit" title="Add" class="btn btn-success" onclick="getElementById('symptom').value=getElementById('symptom').value +  getElementById('a').value + ', '  ">Add</button>
                            <form method="POST">
                                <div id="error-list">
                            {% csrf_token %}
                            <input id="symptom" name="symptom" style="width:500px;"/>
                            
                            </div>
                            </form>
                            </td>
                        
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Disease:</td>
                        <td class="text-left">
                            <input list="selectmedic" placeholder="Search Disease" id="aa" name="aa"/>
                            <datalist id="selectmedic" style="width:1000px;">
                                <!--<option selected disabled = "true">&#45;&#45;select&#45;&#45;</option>-->
                                {% for symptom in symptomsList %}
                                    <option>{{ symptom.symptom_name }}</option>
                                {% endfor %}
                            </datalist>
                            <button type="submit" title="Add" class="btn btn-success" onclick="getElementById('disease').value=getElementById('disease').value +  getElementById('aa').value + ', '  ">Add</button>
                            <input id="disease" name="disease" style="width:500px;"/>
                            <input type="submit" id="sssss" value="Save"/>
                            </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Medicines:</td>
                        <td class="text-left">
                            <input list="selectmedic" placeholder="Search Medicines"/>
                            <datalist id="selectmedic" style="width:1000px;">
                                <!--<option selected disabled = "true">&#45;&#45;select&#45;&#45;</option>-->
                                {% for medic in medicineList %}
                                    <option>{{ medic.drug_name }}</option>
                                {% endfor %}
                            </datalist>
                            <button type="submit" title="Add" class="btn btn-success">Add</button>
                            </td>
                            
                    </tr>
                    <tr style="width:100px;">
                     <td style="font-weight: bold;" class="text-center">
                        Name
                      </td>
                      <td style="font-weight: bold;" class="text-center">
                        Timing
                      </td>
                      <td style="font-weight: bold;" class="text-center">
                        NO.of Tablets
                      </td> 
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="text-left"></td>
                        {% comment %} <a type="button" rel="tooltip" title="Edit" class="btn btn-link btn-success edit" href="{% url 'visitors_update' id=visitor.id d=0  %}">
                        <i class="material-icons">edit</i></a>

                        <a type="submit" rel="tooltip" title="Delete" class="btn btn-link btn-danger remove"
                        href="{% url 'visitors_update' id=visitor.id d=visitor.id  %}">
                        <i class="material-icons">delete</i> 
                        </a>{% endcomment %}            
                    </tr>    
                    </tbody>              
            </table> 
        
        <button type="submit" title="Save" class="btn btn-success pull-right">Submit</button>
    </div>    

    <script>
        document
          .getElementById("sssss")
          .addEventListener("click", save_data);
  
        function save_data() {
          var token = "{{csrf_token}}";
          var symp = $("#symptom").val();
          var disease = $('#disease').val();
          //var adhar = $("#adhar").val();
  
          $.ajax({
            type: "POST",
            headers: { "X-CSRFToken": token },
            url: "{% url 'addSymptom' d.adharNumber %}",
            data: { symptom : symp , disease : disease},
  
            success: function (data) {
              $("#error-list").html(
                '<p style="color:brown">Form Successfully Submitted</p>'
              );
              console.log(data);
            },
            error: function (data) {},
          });
        }
      </script>
      {% endfor %}
{% endblock content %}

