<!DOCTYPE html>
{% extends 'homebase.html' %}
{% load static %}

{% block content %}
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Prescription</h2>
          <ol>
            <li><a href="{% url 'drDashboard' %}">Home</a></li>
            <li><a href="{% url 'drDashboard' %}">Innerpage</a></li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs Section -->
{% csrf_token %}
    
    <div class="table-responsive">
        {% for d in patient %}
            <table class="table table-hover">
                <thead class="">
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Name:</td>
                        <td class="text-left">{{ d.firstname }} {{d.careof}} {{ d.lastname }}</td>    
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">AdharNumber:</td>
                        <td id="adhar" class="text-left">{{ d.adharNumber }}</td>    
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">sex:</td>
                        <td class="text-left">{{ d.gender }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Age:</td>
                        <td class="text-left">{{ d.age }}</td>    
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Weight:</td>
                        <td class="text-left">{{ d.weight }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Moblie Number:</td>
                        <td class="text-left">{{ d.mobileNumber }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Place:</td>
                        <td class="text-left">{{ d.place }}</td>
                    </tr>
                    
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Symptoms:</td>
                        <td class="text-left">
                            <input id="a" name="a" list="selectsymptom" placeholder="Search Symptoms" />
                            <datalist id="selectsymptom" style="width:1000px;">
                                <!--<option selected disabled = "true">&#45;&#45;select&#45;&#45;</option>-->
                                {% for symptom in symptomsList %}
                                    <option>{{ symptom.symptom_name }}</option>
                                {% endfor %}
                            </datalist>
                            <button type="submit" title="Add" class="btn btn-success" onclick="getElementById('symptom').value=getElementById('symptom').value +  getElementById('a').value + ', '  ">Add</button>
                            <br>
                            <form method="POST">                                
                            {% csrf_token %}
                            <input id="symptom" name="symptom" style="width:500px;"/>
                        </form>
                            </div>
                            
                            </td>
                        
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Disease:</td>
                        <td class="text-left">
                            <input list="selectdisease" placeholder="Search Disease" id="aa" name="aa"/>
                            <datalist id="selectdisease" style="width:1000px;">
                                <!--<option selected disabled = "true">&#45;&#45;select&#45;&#45;</option>-->
                                {% for symptom in symptomsList %}
                                    <option>{{ symptom.symptom_name }}</option>
                                {% endfor %}
                            </datalist>
                            <button type="submit" title="Add" class="btn btn-success" onclick="getElementById('disease').value=getElementById('disease').value +  getElementById('aa').value + ', '  ">Add</button>
                            <br>
                            <input id="disease" name="disease" style="width:500px;"/>
                        
                            <input type="submit" id="sssss" value="Save"/>
                            <div id="error-list"></div>
                        
                            </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="text-left">Medicines:</td>
                        <td class="text-left">
                            <input list="selectmedicines" placeholder="Search Medicine" id="medici" name="medici"/>
                            <datalist id="selectmedicines" style="width:1000px;">
                                <!--<option selected disabled = "true">&#45;&#45;select&#45;&#45;</option>-->
                                {% for medic in medicine %}
                                    <option>{{ medic.drug_name }}</option>
                                {% endfor %}
                            </datalist>
                                <input type="checkbox" id="morning" name="morning" value="morning">
                                <label for="morning">Morning</label>
                                <input type="checkbox" id="afternoon" name="afternoon" value="afternoon">
                                <label for="afternoon">Afternoon</label>
                                <input type="checkbox" id="night" name="night" value="night">
                                <label for="night">Night</label>
                                &nbsp;&nbsp;
                                Count<input type="number" id="count" name="count" value="10" style="width: 50px;"/>
                            <button type="submit" id="addMedic" title="Add" class="btn btn-success">Add</button>
                            <!-- <input type="submit" id="sssss" value="Save"/> -->
                            <div id="error-list1"></div>
                        
                            </td>
                    </tr>
                </thead>
                </table>
        <h3>USERS</h3>
        <table id="userTable" class="table table-striped">
          <tr>
            <th>Name</th>
            <th>count</th>
            <th >mor</th>
            <th >aft</th>
            <th >nit</th>
            <th></th>
            <th></th>
          </tr>
          {% if todaysmedicines %}
          {% for medi in todaysmedicines %}
          <tr id="user-{{medi.id}}">
              <td class="mediName userData" name="name">{{medi.medicine_name}}</td>
              <td class="mediCount userData" name="count">{{medi.medicine_count}}</td>
              <td class="mediMor userData" name="mor">{{medi.mor}}</td>
              <td class="mediAft userData" name="aft">{{medi.aft}}</td>
              <td class="mediNit userData" name="it">{{medi.nit}}</td>
              <td align="center">
                  <button class="btn btn-success form-control" onClick="editUser({{medi.id}})" data-toggle="modal" data-target="#myModal")>EDIT</button>
              </td>
              <td align="center">
                  <button class="btn btn-danger form-control" onClick="deleteUser({{medi.id}})">DELETE</button>
              </td>
          </tr>
          {% endfor %}
          {% else %}
            No medicine
          {% endif %}
        </table>
        
        <button type="submit" title="Save" class="btn btn-success pull-right">Submit</button>
    </div>    

    <script>
        document
          .getElementById("sssss")
          .addEventListener("click", save_data);
  
        function save_data() {
          var token = "{{csrf_token}}";
          var symp = $("#symptom").val();
          var disease = $('#disease').val();
          //var adhar = $("#adhar").val();
  
          $.ajax({
            type: "POST",
            headers: { "X-CSRFToken": token },
            url: "{% url 'addSymptom' d.adharNumber %}",
            data: { symptom : symp , disease : disease},
  
            success: function (data) {
              $("#error-list").html(
                '<p style="color:brown">Symptoms and diseases Successfully added</p>'
              );
              console.log(data);
            },
            error: function (data) {},
          });
        }
    </script>


    <script>
        document
          .getElementById("addMedic")
          .addEventListener("click", save_data);
          
        function save_data() {
          var token = "{{csrf_token}}";
          var medici = $('#medici').val();
          var mor = document.getElementById("morning").checked;
          var aft = document.getElementById("afternoon").checked;
          var nit = document.getElementById("night").checked;
          var count = $('#count').val();

          if(mor == true){
            var morning = $('#morning').val();
          }
          else{
            var morning = null;
          }

          if(aft == true){
            var afternoon = $('#afternoon').val();
          }
          else{
            var afternoon = null;
          }

          if(nit == true){
            var night = $('#night').val();
          }
          else{
            var night = null;
          }

          $.ajax({
            type: "POST",
            headers: { "X-CSRFToken": token },
            url: "{% url 'addMedicines' d.adharNumber %}",
            data: { medici : medici, morning : morning, afternoon : afternoon, night : night, count : count},

            dataType : 'json',
            success: function (data) {
              if(data.medi){
                  appendToMediTable(data.medi);
              }
            }
        });
    }

    function appendToMediTable(medi) {
        $("#userTable > tbody:last-child").append(`
              <tr id="user-${medi.id}">
                  <td class="mediName" name="name">${medi.name}</td>
                  '<td class="mediCount" name="count">${medi.count}</td>
                  '<td class="mediMor" name="mor">${medi.mor}</td>
                  '<td class="mediAft" name="aft">${medi.aft}</td>
                  '<td class="mediNit" name="nit">${medi.nit}</td>
                  '<td align="center">
                      <button class="btn btn-success form-control" onClick="editUser(${medi.id})" data-toggle="modal" data-target="#myModal")">EDIT</button>
                  </td>
                  <td align="center">
                      <button class="btn btn-danger form-control" onClick="deleteUser(${medi.id})">DELETE</button>
                  </td>
              </tr>
            `);
      }
            
    </script>

      {% endfor %}
{% endblock content %}

