<!DOCTYPE html>
{% extends 'pdfbase.html' %}
{% load static %}

{% block content %}
{% for d in patient %}
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Patient : {{d.firstname}} [{{d.adharNumber}}]</h2>
      </div>
    </div>
  </section>
  
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="">
            <th style="font-weight: bold;" class="text-center">Medicine Name</th>
            <th style="font-weight: bold;" class="text-center">NO.Of Medicine</th>
            <th style="font-weight: bold;" class="text-center">Morning</th>
            <th style="font-weight: bold;" class="text-center">Afternoon</th>
            <th style="font-weight: bold;" class="text-center">Night</th>
        </thead>
        <tbody>
          {% for medi in todaysmedicines %}
            <tr>
              <td class="text-center" align="center">{{medi.medicine_name}}</td>
              <td class="text-center" align="center">{{medi.count}}</td>
              <td class="text-center" align="center">{{medi.mor}}</td>
              <td class="text-center" align="center">{{medi.aft}}</td>
              <td class="text-center" align="center">{{medi.nit}}</td>
            </tr>
               
          {% endfor %} 
        </tbody>
      </table>
    </div> 
  {% endfor %}   
{% endblock content %}